<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ronzohan.gmsms" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name=".Screens.MessageList.MessageListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Screens.MessageInfo.MessageInfoActivity"
            android:label="@string/title_activity_message_info" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="07953e68c6e157754474ba4de9a0f6acb3c1c0ac" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
